{%extends 'base.html'%}
{% load static %}

{%block title%}About Us{%endblock%}

{%block content%}
<br>
<br>
<div class="container-fluid my-5 mx-auto">
    <div class="row">
        <div class="col-8 ms-5"><h1>About us</h1>
            <p style="font-size: 1.2em;">Handicrafts  Nepal is a B2B wholesale shop, offering a wide variety of Nepali handicrafts products at an affordable price and shipping to worldwide.

            We offer quality handmade products that made in Nepal. We work closely with local people and the community for products. From an initial day to till today, we are in a mission of local empowerment and sustainability.
            
            We understand brand and its values. Therefore, we provide you an option to attach your own company brand label on the listed product.
            
            We are very confident that our online store will be a foundation in bridging the gap between the Nepali handicrafts industry and local artisans of Nepal.
            
            We are open to feedback and suggestions. We believe that’s the only way to grow and scale the market. Please take some time to read the genuine reviews submitted by our customers.</p>
        </div>
        
        <div class="col-3"><img src="{%static 'img/buddha.jpg'%}" height="500px" width="400px">
        </div>
      </div>
    </div>
</div>
<br>
<br>
{%endblock%}