<nav class="navbar navbar-expand-md navbar-dark bg-dark ">

    <a href="/" class="navbar-brand text-uppercase fw-bold">Handicraft<span style="color: red;">Nepal</span></a> 
    <button type="button" name="button" class="navbar-toggler bg-dark" data-bs-toggle="collapse" data-bs-target="#nav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between mx-3" id="nav" >
    <ul class="navbar-nav text-light text-uppercase" >
        <li class="nav-item dropdown" ><a class="nav-link"  
          href="" data-bs-toggle="dropdown">Categories</a>
          <div class="dropdown-menu">
            <a  class="dropdown-item"  href="{%url 'home'%}">All Products</a>
              {% for category in links%}
              <a  class="dropdown-item"  href="{{category.get_url}}">{{category.name}}</a>
              {%endfor%}
          </div>
      </li>
        <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="">About</a></li>
    </ul>
    <form class="form-inline ">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <button type="button" class="btn btn-warning" name="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    </div>
</nav>