<nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">

    <a href="{%url 'home'%}" class="navbar-brand text-uppercase fw-bold">Handicraft<span style="color: red;">Nepal</span></a> 
    <button type="button" name="button" class="navbar-toggler bg-dark" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between mx-3" id="nav" >
    <ul class="navbar-nav text-light text-uppercase px-2" >
        <li class="nav-item" >
          <a class="nav-link" data-bs-toggle="dropdown">Categories</a>
          <div class="dropdown-menu">
            <a  class="dropdown-item"  href="{%url 'home'%}">All Products</a>
              {% for category in links%}
              <a  class="dropdown-item"  href="{{category.get_url}}">{{category.name}}</a>
              {%endfor%}
          </div>
      </li>
        <li class="nav-item"><a class="nav-link" href="{%url 'contact'%}">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="{%url 'about'%}">About</a></li>
        {%if request.user.is_authenticated and request.user.first_name%}
        <li class="nav-item dropdown" style="cursor:pointer">
          <a class="nav-link" data-bs-toggle="dropdown">
            Welcome {{request.user.first_name}} <i class="fas fa-user circle"></i>
          </a>
          <div class="dropdown-menu">
            <a  class="dropdown-item"  href="{%url 'order_history'%}">Order History</a>
          </li>
          
          <li class="nav-item">
          <a class="nav-link" href="{%url 'signout'%}">
           Sign out <i class="fas fa-sign-out-alt"></i>
          </a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'signup'%}">
            Register <i class="fas fa-user-plus"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'signin'%}">
               Sign in <i class="fas fa-sign-in-alt"></i>
              </a>
              </li>
        {%endif%}
        {%if item_count > 0%}
        <li class="nav-item"><a class="nav-link" href="{%url 'cart_detail'%}"><i class="fas fa-shopping-cart"></i>({{item_count}})</a></li>
        {%endif%}
    </ul>
    <form class="form-inline ml-3 " action="{%url 'search'%}" method="GET">
        <div class="input-group">
        <input type="text" name="title" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <button type="submit" class="btn btn-warning" name="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    </div>
</nav>