{%extends 'base.html'%}
{%load static%}
{%block title%}Product{%endblock%}
{%block content %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{{product.image.url}}" height=100% width=100% alt="">
            </div>
            <div class="col-10 mx-auto col-md-6 my-3">
                <div>
                    <h1 class="product_title">{{product.name}}</h1>
                    <h5 class="text-info fst-italic mb-4 ">
                        <span class="me-1">Rs. </span>{{product.price}}
                    </h5>
                    <p class="product_description">Product Description</p>
                    <p class="text-justify product_text">
                        {{product.description}}
                    </p>
                    {% if product.stock <= 0%}
                    <p class="text-justify product_text">Out of stock</p>
                    {%else%}
                    <a href="">Add to Cart</a>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>
{%endblock%}