{%extends 'base.html'%}
{%load static%}
{%block title%}Product{%endblock%}
{%block content %}
    <div class="container py-5">
        <div class="row mx-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{{product.image.url}}" height=80% width=80% alt="">
            </div>
            <div class="col-10 mx-auto col-md-6 my-3">
                <div>
                    <h1 class="product_title">{{product.name}}</h1>
                    <h5 class="text-info fst-italic mb-4 ">
                        <span class="me-1">Rs. </span>{{product.price}}
                    </h5>
                    <p class="product_description">Product Description</p>
                    <p class="text-justify product_text">
                        {{product.description}}
                    </p>
                    {% if product.stock <=  0%}
                    <p class="text-justify product_text">Out of stock</p>
                    {%else%}
                    <a href="{%url 'add_cart' product.id%}">
                        <button type="button" name="button" class="btn btn-secondary">Add to Cart</button>
                    </a>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>
{%endblock%}