{%extends 'base.html'%}
{% load static %}
{%load crispy_forms_tags%}
{%block title%}Signup{%endblock%}

{%block content%}
<div>
    {%if not form.is_valid%}
    <div class="mx_auto">
        <br>
        <h1 class="product_title text-center">
            Create a new account
        </h1>
        <br>
        <div class="col-9 ocl-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
            <br>
            <p>Enter the following information to create a new account</p>
            <form method="post">
                {%csrf_token%}
                <p>{{form | crispy}}</p>
                <button type="submit" name="button" class="btn btn-secondary">Register</button>
            </form>
            <br>
        </div>
    </div>
    {%else%}
    <div class="mx-auto">
        <br>
        <h1 class="product_title text-center">
            Your account have been successfully created
        </h1>

        <br>
        <div class="container">
            <p>Dear Customer,
                <br>
                <br>
                Your account has been created and its ready to use.
                <br>
                <a href="{%url 'home'%}">Continue Shopping</a> and enjoy your product
            </p>
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}